# Copy to .env and adjust per environment (.env.development / .env.production)

# Gateway
GATEWAY_PORT=4200
REMOTE_PRODUCT_URL=http://localhost:4201/remoteEntry.js
REMOTE_CART_URL=http://localhost:4202/remoteEntry.js
REMOTE_ORDERS_URL=http://localhost:4203/remoteEntry.js

# MFEs
PRODUCT_PORT=4201
CART_PORT=4202
ORDERS_PORT=4203
API_URL=http://localhost:3000/api

# Backend
API_PORT=3000
CORS_ORIGIN=http://localhost:4200
